*{
    margin: 0;
    padding: 0;
}
.navigation {
    font-family: var(--font1);
    /* height: 74px; */
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.nav-left{
font-size: 20px;
display: flex;

}


.nav-left-span{
    font-size: 35px;
    padding-top: 10px;
}

.nav-left ul{
    display: flex;
    align-items: center;
    margin: 0 77px;
    font-size: 22px;
    
}

.nav-left ul li{
    list-style: none;
    margin: 0 14px;
    font-family: var(--font2);
}

.nav-left ul li:hover{
    
    color: var(--main-bg-color);
    font-weight: bolder;
}
.nav-left ul li a{
    text-decoration: none;
    color: black;
    
}

.nav-left ul li a:hover{
    color: var(--main-bg-color);
    font-weight: bolder;
}
.content{
    display: flex;
    height:395px;
    /* background-color: rgb(147, 147, 248); */
    margin-top: 32px;
    padding: 9px;
    position: relative;
   
}

.content::after{
    content: "";
    background-image: url("../img/12.svg.jpg");
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.15;
    
}

.content-left{
font-family: var(--font1);
padding: 40px;
display: flex;
flex-direction: column;
justify-content: center;
z-index: 1;
}



.content-right{

display: flex;
align-items: center;
justify-content: center;
}

.content-right img{
    height: 250px;
    border: 2px solid black;
    border-radius: 325px;
}


.home-articles{

padding-top: 18px;
margin-top: 23px;
background-color: rgb(222, 209, 209);
position: relative;
}

.year-box{
    position: absolute;
    
    /* background-color: red; */
    right: 119px;
    top: 100px;
    width: 234px;
    height: 255px;
}

.year-box div{
    margin: 12px 0;
    font-size: 18px;
}


.simple-box{
    position: absolute;
    
    background-color: rgb(159, 207, 226);
    right: 10px;
    top: 200px;
    width: 234px;
    height: 255px;
    border: 5px;
    border-color: black;
    
}
.simple-box div{
    font-family: var(--font2);
    cursor: pointer;
        
}
.home-article{
display: flex;
margin: 25px;
}

.home-article img{
    width: 200px;
}

.home-article-content{
    align-self: center;
    padding: 25px;
}
.home-article-content a{
    text-decoration: none;
   color: black;
}

.footer {
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

.footer a{
    color: white;
}